



ion-card.extendido{

    background: rgba(82, 82, 81, 0.30);
    padding: 0px;
    margin: 0px;
}


ion-card-subtitle{
    color: rgb(247, 242, 242);
}
ion-card-content{
    color: white;
}
ion-card-title{
    color: rgb(247, 242, 242);
}
ion-icon{
    color:  rgb(247, 242, 242);
    
    margin-right: 1px;
}
ion-datetime{
    color:  rgb(255, 255, 255);
  
    padding: 0px;
    margin: 0px;
}

#fotohead{

    margin-left: 30px;
}
ion-text{
   
    font-size: 15px;
}

