ion-content.background{
    --background: url(../assest/image/alertas/rio.jpg) 0 0/100% 100% no-repeat;
}

ion-alert.background{
    --background : url(../assest/image/alertas/Alerta1.jpeg) 0 0/100% 100% no-repeat;
    --height:200px;
    --width:10px;
}

ion-card{

    background: rgba(228, 208, 208, 0.205);
    padding: 0px;
    margin: 0px;
}

ion-item{
    --background: rgba(228, 208, 208, 0.014);
   
}
ion-card-subtitle{
    color: rgb(247, 242, 242);
}
ion-card-content{
    color: white;
}
ion-card-title{
    color: rgb(247, 242, 242);
}
ion-icon{
    color:  rgb(247, 242, 242);
    
    margin-right: 1px;
}
ion-datetime{
    color:  rgb(255, 255, 255);
  
    padding: 0px;
    margin: 0px;
}

#fotohead{

    margin-left: 30px;
}
ion-text{
   
    font-size: 15px;
}
